
body{
    background-color: aquamarine;
background-image: url(MainPageBlurWallpaper.gif);
background-size: cover;
background-position: center top;
}

h1{
    color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

.button {
    color: aqua;
    background-color: blueviolet;
}