
body{
background-image:url('Snow Loop.webp');
background-size: cover;
background-repeat:repeat; }

h1{
    color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}