
body {
background-image:url('Snow Loop.webp');
background-size: cover;
background-repeat:repeat; }

rainy-morning-1{
    background-image: ;
    //*Get an image of a rainy dark morning, potentially use AI for it *//
}